html{
  background-color: #fff;
}
#logo{
  display: block;
  position: fixed;
  margin: 0 auto;
  padding: 175px 480px;
  max-width: 350px;
  height: auto;
}
input{
  position: fixed;
  margin: 335px 407px;
  padding: 5px;
  width: 488px;
  height: 25px;
  max-height: 250px;
}
.nav{
  font-size: 15px;
  font-family: arial, sans-serif;
  display: inline-block;
  position: fixed;
  margin-left: 900px;
  z-index: 1;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
#user{
  font-size: inherit;
  display: inherit;
  position: relative;
  margin-top: 10px;
  margin-right: 0;
  padding: 0;
  text-decoration: inherit;
  opacity: .55;
}
.link{
  font-size: inherit;
  display: inherit;
  position: relative;
  text-decoration: inherit;
  opacity: .75;
  float: left;
}
.link:hover{
  text-decoration: underline;
}
.link:visited{
  color: inherit;
}
#gmail{
  margin-left: 70px;
  margin-top: -17.5px;
}
#images{
  margin-left: 20px;
  margin-top: -18px;
  float: left;
}
#apps{
  display: inline-block;
  position: relative;
  margin-top: -19px;
  margin-left: 200px;
  float: left;
}
#alerts{
  display: inline-block;
  position: relative;
  margin-top: -20px;
  margin-left: 20px;
  margin-right: 10px;
  float: left;
}
div ul li img{
  max-width: 20px;
  height: auto;
  opacity: .8;
}
div ul li img:hover{
  opacity: 1;
}
#profile{
  max-width: 35px;
  height: auto;
  border-radius: 25px;
  opacity: 1;
}
#final{
  display: inline-block;
  position: relative;
  float: right;
  margin-top: -25px;
  /*margin-left: 10px;*/
}
